/* 
Värit
    Valkoinen: #FFFFFF
    Musta: #bf6e12
    P-Vaalea 1: #ffd193
    P-Vaalea 2: #ebc285
    P-Normaali: #e09b12
    P-Tumma: #e58a11
    P-Tummin: #bf6e12
    Korostus: #03c1fd
*/

/* Perus sivun raamimäärittelyt */
body{
    margin: 0;
    align-content: center;
}

/* Fonttien asettamiset */
@font-face {
    font-family: headers;
    src: url(font/Tiny5-Regular.ttf);
}
@font-face {
    font-family: other;
    src: url(font/Syne-VariableFont_wght.ttf);
}
h1, h2, h3, h4, h5, h6, .logo{
    font-family: headers, serif;
    text-transform: uppercase;
    margin: 0;
    color: #bf6e12;
}
p, a, img{
    font-family: other, sans-serif;
    margin: 0;
    color: #bf6e12;
}
.textItem p{
    margin: 20px 10px 10px;
}
img{
    position: relative;
    border: 5px #bf6e12;
}
.banner{
    display: flex;    
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    background-color: #ffd19375;
}
.bannerContainer{
    max-width: max-content;
    text-align: center;
    padding: 10px;
}
.slogan{
    text-align: center;
    width: max-content;
    height: max-content;
    position: relative;
}

/* Nappien asetukset */
.button{
    display: inline-block;
    color: #ffffff;
    border: 5px solid #bf6e12;
    /*padding: 10px 20px;*/
    background-color: #e09b12;
    box-shadow: 5px 5px #bf6e1275;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px;
}
#cta{
    margin-top: 20px;
}
.button#current{
    background-color: #ebc28550;
}
nav .button{
    background-color: #ffffff;
    border-bottom: 0px;
    text-transform: none;
    color: #bf6e12;
    font-weight: normal;
    margin: auto;
}

#yhteystietoNappi{
    background-color: #ffd193;
    color: #bf6e12;
    border-color: #ffffff;
    box-shadow: 5px 5px #ffffff75;
}
.button:hover, #current:hover, #yhteystietoNappi:hover{
    background-color: #03c1fd;
}
nav .button, .button:hover, #yhteystietoNappi:hover{
    box-shadow: none;
}

/* Grid-elementit */
.textItem{grid-area: g1; 
    display: inline-block; 
    border: 5px solid #bf6e12; 
    background-color: #ffffff;
}.buttonItem{grid-area: g2;}
.imageItem{grid-area: g3;}
.footerCopy{grid-area: f1;}
.footerNav{grid-area: f2; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
}.footerLogos{grid-area: f3; display:flex; gap: 20px;}

section.home{
    display: grid;
    border: 5px solid #bf6e12;
    padding: 5%;
    text-align: center;
    gap: 10px;
}
.imageItem{
    width: 300px;
    height: 300px;
    background-color: #bf6e12;
    margin: auto;
}
#darkBack{
    background-color: #ffd193;
}
#grid-container1{
    background-color: #bf6e12;
    border-color: #ffd193;
}
#grid-container1 .textItem, .kuva1{
    border-color: #ffd193;
}
footer{
    max-width: 100%;
    display: grid;
    text-align: center;
    background-color: #bf6e1220;
    padding: 5% 20%;
}


/* MOBIILIKOKO */
@media screen and (max-width: 900px){
    /* Fonttikoot mobiiliasetelmalle */
    h1{font-size: 48px;}
    h2{font-size: 28px;}
    h3{font-size: 24px;}
    p{font-size: 18px;}
    .button{font-size: 24px; padding: 5px 10px; max-width: 150px;}
    .cta{font-size: 28px !important;}
    i{font-size: 24px;}
    body{
        text-align: center;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 5% 0px;
        gap: 10px;
    }
    .banner{
    height: 400px;
    align-items: center;
    }
    .slogan{
        margin: 0 auto;
    }
    section.home{
        margin: 20px auto;
        max-width: 80%;
    }
    #grid-container1, #grid-container2{
        grid-template-areas: 
            'g1'
            'g2'
            'g3';
    }
    #kadotustemppu{
        display: none;
    }
    .textItem{
        padding: 10px;
    }
    footer{
        grid-template-areas: 
            'f2'
            'f3'
            'f1';
        max-height: 150px;
        padding: 30px 50px;
        gap: 20px;
        justify-items: center;
    }
    div{
        gap: 20px;
    }
    .footerNav{
        width: 50%;
    }
}

/* TYÖPÖYTÄKOKO */
@media screen and (min-width: 901px) {
    /* Fonttikoot työpöytäasetelmalle */
    h1{font-size: 72px;}
    h2{font-size: 32px;}
    h3{font-size: 28px;}
    p{font-size: 18px;}
    .button{font-size: 24px; padding: 10px 20px;}
    .cta{font-size: 28px !important;}
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5% 0px;
        gap: 10px;
    }
    .banner{
        height: 600px;
        padding: 1px 20%;
        justify-items: left;

    }
    section.home{
        margin: 20px auto;
        width: 60%;
        max-width: 700px;
        padding: 50px;
    }
    #grid-container1{
        grid-template-areas: 
            'g3 g1 g1'
            'g3 g1 g1'
            'g3 g2 g2';
    }
    #grid-container2{
        grid-template-areas: 
            'g1 g1 g3'
            'g1 g1 g3'
            'g2 g2 g3';
    }
    .textItem{
        padding: 20px;
    }
    footer{
        grid-template-areas: 
            'f1 f2 f3';
        height: 40px;
        padding: 30px 50px;
        justify-items: center;
    }
    .footerNav{
        width: 100%;
    }
}

